<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
</head>
<body style="background-image: url(https://images.pexels.com/photos/2533092/pexels-photo-2533092.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); background-repeat: no-repeat; background-size: cover;">
  <center>
     <h1>A&S Travel Guide<br></h1>
  </center> 
		<center>
          <table width="330px" style="margin-top: 40px;">
              <tr>
                <td>
                <fieldset>
                    <legend><h2>Admin Login</h2></legend>
						<form method="post">
                        <table>
							<tr>
								<td>AdminName : </td>
								<td><input type="text" name="adminname"></td>
							</tr>
							<tr>
								<td>Password : </td>
								<td><input type="password" name="password"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
						</table>
						<br><br><center>
							<input type="submit" name="submit"style="height: 30px; width:60px" value="Login">&ensp;
							<br><br>
							New Admin !!
							<a href= "/adminreg">Registration</a>
							</center>
						</form>
					</fieldset>
				</center>
	
		
			</form>
		</body>
	</html>