<!DOCTYPE html>
<html>
<head>
	<!-- CSS only -->

	<title>User Login</title>
	
</head>
<body style="background: #DAE2F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <center>
     <h1>A&S Express<br></h1>
  </center> 
		<center>
          <table   width="300px">
              <tr>
                <td>
                <fieldset>
                    <legend><h2>User Login</h2></legend>
						<form method="post">
                        <table>
							<tr>
								<td>UserName: </td>
								<td><input type="text" name="username"></td>
							</tr>
							<tr>
								<td>Password : </td>
								<td><input type="password" name="password"></td>
							</tr>
							<tr>
							</tr>					
						</table>
						<br><center>
							<input  type="submit" name="submit"style="height: 35px; width:60px;background-color:green;boarder-radious:2px" value="Login">&ensp;
							<br><br>
							New User !!
							<a href= "/reg">Registration</a>
							</center>
						</form>
					</fieldset>
				</center>
			</form>
		</body>
	</html>







